version: "3.7"

volumes:
  postresql13_data: {}
  plausible_db_data: {}
  plausible_events_db_data: {}
  redis_data: {}
  app_shared: {}
  pghero_shared: {}
  elasticsearch_data: {}
  https_portal: {}
  prometheus_data: {}
  grafana_data: {}
  portainer_data: {}
  geoip_data: {}
  maildata: {}
  mailstate: {}
  maillogs: {}

services:
  nginx:
    image: "docker.io/library/nginx:1.18.0"
    container_name: "evemonk_nginx"
    restart: "unless-stopped"
    volumes:
      - "app_shared:/shared"
      - "pghero_shared:/shared2"
      - "./nginx-evemonk.conf:/etc/nginx/conf.d/default.conf:ro"

  nginx_static:
    image: "docker.io/library/nginx:1.18.0"
    container_name: "evemonk_nginx_static"
    restart: "unless-stopped"
    volumes:
      - "/srv/static:/var/www"
      - "./nginx-static.conf:/etc/nginx/conf.d/default.conf:ro"

#  blog:
#    image: "biow0lf/evemonk-blog:latest"
#    container_name: "evemonk_blog"
#    restart: "unless-stopped"

  blog:
    image: "docker.io/library/nginx:1.18.0"
    container_name: "evemonk_blog"
    restart: "unless-stopped"

  https_portal:
    image: "docker.io/steveltn/https-portal:1.13.0"
    container_name: "evemonk_https_portal"
    restart: "unless-stopped"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "https_portal:/var/lib/https-portal"
    environment:
      STAGE: "production"
      WEBSOCKET: "true"
      DOMAINS: "evemonk.com -> http://nginx,
                blog.evemonk.com -> http://blog,
                static.evemonk.com -> http://nginx_static,
                api.evemonk.com -> http://nginx,
                www.evemonk.com => https://evemonk.com,
                irregularquiz.rpisarev.org.ua -> http://irregularquiz:5000,
                portainer.evemonk.com -> http://portainer:9000,
                imageproxy.evemonk.com -> http://imageproxy:8081,
                cadvisor.evemonk.com -> http://cadvisor:8080,
                pghero.evemonk.com -> http://nginx,
                username:password@sidekiq.evemonk.com -> http://nginx,
                grafana.evemonk.com -> http://grafana:3000,
                plausible.evemonk.com -> http://plausible:8000,
                username:password@prometheus.evemonk.com -> http://prometheus:9090,
                username:password@alertmanager.evemonk.com -> http://alertmanager:9093,
                username:password@kibana.evemonk.com -> http://kibana:5601"

  redis:
    image: "docker.io/library/redis:6.0.9"
    container_name: "evemonk_redis"
    restart: "unless-stopped"
    volumes:
      - "redis_data:/data"

  redis_exporter:
    image: "docker.io/oliver006/redis_exporter:v1.12.1"
    container_name: "evemonk_redis_exporter"
    restart: "unless-stopped"
    command:
      - "--redis.addr=redis://redis:6379"

  memcached:
    image: "docker.io/library/memcached:1.6.8"
    container_name: "evemonk_memcached"
    restart: "unless-stopped"
    command: "memcached -m 64"

  memcached_exporter:
    image: "docker.io/prom/memcached-exporter:v0.7.0"
    container_name: "evemonk_memcached_exporter"
    restart: "unless-stopped"
    command:
      - "--memcached.address=memcached:11211"

  postgresql:
    image: "docker.io/library/postgres:13.0"
    container_name: "evemonk_postgresql"
    restart: "unless-stopped"
    environment:
      POSTGRES_HOST_AUTH_METHOD: "trust"
    volumes:
      - "postresql13_data:/var/lib/postgresql/data"
      - "./postgres:/docker-entrypoint-initdb.d"

  postgres_exporter:
    image: "docker.io/wrouesnel/postgres_exporter:v0.8.0"
    container_name: "evemonk_postgres_exporter"
    restart: "unless-stopped"
    env_file: ".env_postgres_exporter"

  prometheus:
    image: "docker.io/prom/prometheus:v2.22.0"
    container_name: "evemonk_prometheus"
    restart: "unless-stopped"
    volumes:
      - "./prometheus/:/etc/prometheus/"
      - "prometheus_data:/prometheus"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles"
      - "--web.external-url=https://prometheus.evemonk.com/"

  node_exporter:
    image: "docker.io/prom/node-exporter:v1.0.1"
    container_name: "evemonk_node_exporter"
    restart: "unless-stopped"
    volumes:
      - "/proc:/host/proc:ro"
      - "/sys:/host/sys:ro"
      - "/:/rootfs:ro"
    command:
      - "--path.procfs=/host/proc"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.ignored-mount-points"
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"

  cadvisor:
    image: "gcr.io/google_containers/cadvisor:v0.36.0"
    container_name: "evemonk_cadvisor"
    restart: "unless-stopped"
    volumes:
      - "/:/rootfs:ro"
      - "/var/run:/var/run:rw"
      - "/sys:/sys:ro"
      - "/var/lib/docker/:/var/lib/docker:ro"

  blackbox_exporter:
    image: "docker.io/prom/blackbox-exporter:v0.18.0"
    container_name: "evemonk_blackbox_exporter"
    restart: "unless-stopped"

  alertmanager:
    image: "docker.io/prom/alertmanager:v0.21.0"
    container_name: "evemonk_alertmanager"
    restart: "unless-stopped"
    ports:
      - "9093:9093"
    volumes:
      - "./alertmanager/:/etc/alertmanager/"
    command:
      - "--config.file=/etc/alertmanager/config.yml"
      - "--storage.path=/alertmanager"
      - "--web.external-url=https://alertmanager.evemonk.com/"

#  karma:
#    image: 'lmierzwa/karma:v0.39'
#    container_name: evemonk_karma
#    restart: unless-stopped

  grafana:
    image: "docker.io/grafana/grafana:7.2.2-ubuntu"
    container_name: "evemonk_grafana"
    restart: "unless-stopped"
    user: "104"
    volumes:
      - "grafana_data:/var/lib/grafana"
      - "./grafana/provisioning/:/etc/grafana/provisioning/"
    env_file:
      - "./grafana/config.monitoring"

  elasticsearch:
    image: "docker.elastic.co/elasticsearch/elasticsearch-oss:7.9.3"
    container_name: "evemonk_elasticsearch"
    restart: "unless-stopped"
    volumes:
      - "elasticsearch_data:/usr/share/elasticsearch/data"
    environment:
      - "discovery.type=single-node"
      - "ES_JAVA_OPTS=-Xms256M -Xmx256M"

  elasticsearch_exporter:
    image: "docker.io/justwatch/elasticsearch_exporter:1.1.0"
    container_name: "evemonk_elasticsearch_exporter"
    command:
      - "--es.uri=http://elasticsearch:9200"
    restart: "unless-stopped"

  kibana:
    image: "docker.elastic.co/kibana/kibana-oss:7.9.3"
    container_name: "evemonk_kibana"
    restart: "unless-stopped"
    volumes:
      - "./kibana/config/kibana.yml:/usr/share/kibana/config/kibana.yml:ro"

  imageproxy:
    image: "docker.io/willnorris/imageproxy:v0.10.0"
    container_name: "evemonk_imageproxy"
    restart: "unless-stopped"
    command: '-addr 0.0.0.0:8081 -userAgent "EveMonk image proxy cacher (https://evemonk.com/)"'

  portainer:
    image: "docker.io/portainer/portainer:1.24.1"
    container_name: "evemonk_portainer"
    restart: "unless-stopped"
    volumes:
      - "portainer_data:/data"
      - "/var/run/docker.sock:/var/run/docker.sock"

  geoip:
    image: "maxmindinc/geoipupdate:v4.3.0"
    container_name: "evemonk_geoip"
    restart: "unless-stopped"
    environment:
      - "GEOIPUPDATE_EDITION_IDS=GeoLite2-Country"
      - "GEOIPUPDATE_FREQUENCY=168" # update every 7 days
    env_file:
      - "geoip/geoip.conf"
    volumes:
      - "geoip_data:/usr/share/GeoIP"

  plausible_db:
    image: "docker.io/library/postgres:13.0"
    container_name: "evemonk_plausible_db"
    restart: "unless-stopped"
    environment:
      POSTGRES_HOST_AUTH_METHOD: "trust"
    volumes:
      - "plausible_db_data:/var/lib/postgresql/data"
      - "./postgres:/docker-entrypoint-initdb.d"

  plausible_events_db:
    image: "docker.io/yandex/clickhouse-server:20.10.2.20"
    container_name: "evemonk_plausible_events_db"
    restart: "unless-stopped"
    volumes:
      - "plausible_events_db_data:/var/lib/clickhouse"
    ulimits:
      nofile:
        soft: "262144"
        hard: "262144"

  plausible:
    image: "docker.io/plausible/analytics:v1.1.1"
    container_name: "evemonk_plausible"
    restart: "unless-stopped"
    command: sh -c "sleep 10 && /entrypoint.sh db createdb && /entrypoint.sh db migrate && /entrypoint.sh db init-admin && /entrypoint.sh run"
    env_file:
      - "plausible-conf.env"
    volumes:
      - "geoip_data:/usr/share/GeoIP"
    environment:
      GEOLITE2_COUNTRY_DB: "/usr/share/GeoIP/GeoLite2-Country.mmdb"

#  sentry:
#    image: ''
#    depends_on:
#      - postgresql
#      - redis

  mail:
    image: "docker.io/tvial/docker-mailserver:latest"
    hostname: "mail"
    domainname: "evemonk.com"
    container_name: "evemonk_mail"
    restart: "unless-stopped"
    ports:
      - "25:25"
    volumes:
      - "maildata:/var/mail"
      - "mailstate:/var/mail-state"
      - "maillogs:/var/log/mail"
      - "./mail/config/:/tmp/docker-mailserver/"
    env_file:
      - ".env_mail"
      - "mail/env-mailserver"

#    ssl_certificate /var/lib/https-portal/evemonk.com/production/chained.crt;
#    ssl_certificate_key /var/lib/https-portal/evemonk.com/production/domain.key;

  pghero:
    image: "docker.io/biow0lf/evemonk-pghero:1.0.15"
    container_name: "evemonk_pghero"
    restart: "unless-stopped"
    env_file: ".env"
    command: "./bin/app"
    volumes:
      - "pghero_shared:/shared"

  sidekiq-web-ui:
    image: "docker.io/biow0lf/evemonk-sidekiq:1.0.14"
    container_name: "evemonk_sidekiq_web_ui"
    restart: "unless-stopped"
    env_file: ".env"
    command: "./bin/app"

  backend:
    image: "docker.io/biow0lf/evemonk:0.3.23"
    container_name: "evemonk_backend"
    restart: "unless-stopped"
    env_file: ".env"
    command: "./bin/backend"
    volumes:
      - "app_shared:/shared"
      - "./newrelic.yml:/app/config/newrelic.yml:ro"
      - "/srv/static/sde-20201013:/app/static:ro"

  sidekiq:
    image: "docker.io/biow0lf/evemonk:0.3.23"
    container_name: "evemonk_sidekiq"
    restart: "unless-stopped"
    env_file: ".env"
    environment:
      PORT: "5100"
    ports:
      - "5100:5100"
    command: "./bin/sidekiq"
    volumes:
      - "app_shared:/shared"
      - "./newrelic.yml:/app/config/newrelic.yml:ro"
      - "/srv/static/sde-20201013:/app/static:ro"

  cron:
    image: "docker.io/biow0lf/evemonk:0.3.23"
    container_name: "evemonk_cron"
    restart: "unless-stopped"
    env_file: ".env"
    command: "./bin/cron"
    volumes:
      - "app_shared:/shared"
      - "./newrelic.yml:/app/config/newrelic.yml:ro"
      - "/srv/static/sde-20201013:/app/static:ro"

  irregularquiz:
    image: "docker.io/biow0lf/irregularquiz:v1.0.1"
    container_name: "evemonk_irregularquiz"
    restart: "unless-stopped"
